<h1>StaticPages#room</h1>
<% provide(:title, 'Room') %>
<h1>Room</h1>
<% if joined? %>
<p>Hi, <%= current_user.name %>!</p>
<%= link_to 'Leave', leave_path, method: :delete %>
<% else %>
<p>Left</p>
<% end %>